.about-main {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}

.about-internal {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  .card-container {
    display: inline-block;
  }
  .about-internal {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
  }
}