.box-warn {
    display: flex;
    justify-content: left;
    align-items: center; 
    max-width: 600px;
    padding: 5px 10px;
    border-radius: 6px;
    border: solid 1px rgb(247, 255, 131);
    background-color: rgba(255, 219, 102, 0.489);
    margin: 15px 0;
    padding-bottom: 15px;
}

@media only screen and (max-width: 600px) {
    .box-warn {
        max-width: 330px;
        padding: 2px 2px;
    }
}

@media (prefers-color-scheme: light) {
    .box-warn {
        background-color: rgb(247, 255, 131);
        border: solid 1px black;
    }
}