.button-container {
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}

.button-box {
    display: inline;
    text-align: center;
    margin-right: 20px;
}

.button-disabled {
    transition: none;
    cursor:not-allowed;
}

@media only screen and (max-width: 600px) {
    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-box {
        flex: 0.1 1 auto;
        margin-right: 0;
    }
}