.pre-code-block {
    display: inline-block;
    max-width: 100%;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
}

.div-code-block {
    margin: 20px 0;
}

.code-block {
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.235);
}

.div-code-block .code-block {
    padding: 12px !important;
    line-height: 40px;
}

.code-block-container {
    overflow: auto;
}